
{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
 
    <meta charset="utf-8">
    <meta name="author" content="Script Desk">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pipminds Investment Platform">
   
    <title>Terms & Conditions | Pipminds Invest </title>
   
    <link rel="stylesheet" href="{% static 'assets/css/dashlite.css' %}?ver=2.2.0">
    <link id="skin-default" rel="stylesheet" href="{% static 'assets/css/theme.css' %}?ver=2.2.0">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3YN97TPDLC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3YN97TPDLC');
</script>

<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '2227317817403128'); 
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" 
src="https://www.facebook.com/tr?id=2227317817403128&ev=PageView
&noscript=1"/>
</noscript>



</head>

<body class="nk-body npc-invest bg-lighter ">
    <div class="nk-app-root">
        <div class="nk-wrap ">




  <!-- content @s -->
  <div class="nk-content nk-content-fluid">
    <div class="container-xl wide-xl">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="content-page">
                    <div class="nk-block-head nk-block-head-lg  text-center">
                        <div class="nk-block-head-content">
                            <h2 class="nk-block-title fw-normal">TERMS &amp; CONDITIONS OF SERVICE FOR PIPMINDS APP</h2>
                            <div class="nk-block-des">
                                <p class="lead">Educate, Empower & Enrich </p>
                                <p class="text-soft ff-italic">Last Update: Jan 5, <script>document.write(new Date().getFullYear());</script></p>
                            </div>
                        </div>
                    </div><!-- .nk-block-head -->
                    <div class="nk-block">
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-xl">
                                <div class="entry">
                                    <h3>Terms and Conditions</h3>
                                    <p>By visiting and signing up on this web platform, you accept our terms and conditions of service which can be amended from time to time and shall take effect from January 2020.</p>
                                    <h4>THE COMPANY</h4>
                                    <ul class="list list-sm" >
                                        <li>The term <strong> “THE COMPANY OR US” </strong> throughout this agreement refers to PIPMINDS INTERNATIONAL LTD. </li>
                                        <li>The company is incorporated in Nigeria under the Companies and Allied Matters Act 2020 with its registered address at No 133 Atiku Abubakar Way, Uyo, Akwa Ibom State of Nigeria.</li>
                                    </ul>
                                    
                                    <h4>OUR BUSINESS</h4>
                                    <ul class="list list-sm" >
                                        <li>We are an indigenous online forex trading and investment company in Nigeria founded in 2015 and incorporated in 2019. We are pioneers in developing online trading and investment consumer products which offers investment opportunities to our Clients/Users while we manage your investment at affordable rates on all levels of knowledge and accessible from any location worldwide.</li>
                                        
                                    </ul>
                                   
                                    <h4>AGREEMENT</h4>
                                
                                    <ul class="list list-sm">
                                        <li>This agreement determines the contractual relationship between the company (“we”) and the User/ Client (“you”). When you download our mobile application (PIPMINDS APP), you agree to be bound by the terms and conditions listed here, our privacy policy and additional terms when you create an account, register and fund an investment plan with us. </li>

                                    </ul>
                                    <h4>OBLIGATIONS AND ELIGIBILITY</h4>
                                    <ul class="list list-sm">
                                        <li>Our platform(s) (PIPMINDS INVEST) is only for Clients who are 18 years and above. Any access to our mobile application by a Client under the age of 18 years is unauthorized and in violation of these terms and conditions. By signing up to our mobile application, you represent that you are 18 years of age.</li>

                                    </ul>

                                
                                    <h4>ACCESSIBILITY</h4>

                                    <ul class="list list-sm">
                                        <li>In order to invest and/or trade on our app, you must register and create an active account. There are different types of account to suit your requirement or you can talk to one of our professional client managers. A User is permitted to operate one active trading or investment account with us. Where a User opens more than one active account with us, we reserve the right to close the additional accounts and all related open trading and/or investment positions.</li>
                                        <li>When you register, you are required to create a password which you will use to access your user account. We have electronic and procedural safety measures that comply with regulatory standards to guard User’s private information. You have the responsibility to protect your password and account information from any third party. Please take necessary action to keep your password information from public view and where your password is lost, stolen or if you suspect any unauthorized use of your account, you will inform us immediately to take necessary actions.</li>

                                    </ul>

                                    
                                    <h4>KNOW YOUR CUSTOMER (KYC) DOCUMENTATION AND CLIENT IDENTIFICATION PROCEDURE</h4>
                                    <ul class="list list-sm">
                                        <li>You agree that the information provided on our mobile application will be true, accurate, complete and current. If you are an authorized representative of a company, you declare that you have that you have the authority to bind the company to this agreement. We are required by law to verify and record your information when you open an account with us. Thus, when you open an account with us, we will ask that you provide certain information and documentation to identify yourself and verify the information you have submitted to us upon registration.</li>
                                        <li>CLIENT IDENTIFICATION PROCEDURE  <br>
                                        <ul class="list list-sm">
                                            <li>You will be required to provide and upload the following information and identification documents: <br>
                                            <ul class="list list-sm" >
                                                <li>A copy of your National Identification Card, International Passport or Driver’s License.</li>
                                                <li>A clear passport photograph </li>
                                                <li>Full name and residential address  </li>
                                                <li>Email address</li>
                                                <li>Bank account details (account name, account number)</li>
                                            </ul>
                                            </li>
                                            <li>The verification and approval of the above information and documents will be completed within two (2) hours through email verification.</li>
                                            <li>If your Identification and information details are not verified and approved within two (2) hours, we will close your account opening process and you will no longer to be able to trade or invest.</li>
                                            <li>When verification is complete, you will be able to fund your in-app wallet to trade or make an investment from available investment plans from your in-app wallet on our mobile application. </li>
                                            <li>You will also be able to subscribe to our yearly partnership program “PIPMINDS PARTNERSHIP PROGRAM” using your debit card.</li>
                                        </ul>
                                        <p><strong> We reserve the right to refuse or reject a registration based on regulatory restrictions imposed on us by regulatory bodies or where we suspect fraud or cyber-crime activities. </strong></p>
                                        </li>
                                        <li>
                                            ACTIVE ACCOUNT SECURITY AND MANAGEMENT <br>
                                            Once your account opening is complete, you will set a username and password that you can use to access our services at any time. You will be solely responsible for any activity and action under your user account however if you misplace, lose any of the data or suspect someone else has access to your account and information, you will inform us immediately through our professional client managers, email or customer care reps. 
                                        </li>
                                        <li>SEGREGATED ACCOUNTS  <br> 
                                            As a financial regulated company, we are dedicated to ensuring a transparent process in all our relations with you. All funds we receive from you is treated as “Clients’ money” and are kept in a separate Client bank account (segregated accounts) in a reputable banking institution. We are obliged by law to perform regular reviews and monitoring of how these accounts are maintained and operated by such banking institution.
                                        </li>
                                        <li>
                                            CURRENCY  <br>
                                            All funds concerned for the opening and the operation of your account will be payable in any currency of your choice when you create an account with us.
                                        </li>
                                        <li>
                                            PAYMENT METHODS <br>
                                            We only accept cleared funds (funds that are available in your bank, debit/credit cards). There are three (3) primary methods of payment that you can choose to make your transaction:
                                            <ul class="list list-sm">
                                                <li>Bank transfer</li>
                                                <li>Debit or credit payment</li>
                                                <li>E-Wallet</li>
                                            </ul>
                                        </li>

                                    </ul>

                                    
                                    <h4>WITHDRAWALS AND DEPOSITS</h4>
                                    <ul class="list list-sm">
                                        <li> WITHDRAWALS <br>
                                            Withdrawal of funds (investment capital and/or interest) to your bank account may take a longer period of time to be credited to your account. When you choose an account base currency other than the currency used in your credit/debit card, you may attract charges due to currency conversion and other fees. As a result of this, your refunded amount may vary slightly from the sum you initially deposited in your account based currency. Please ensure that you know your bank charge policies in currency conversion while making withdrawals.
                                        </li>
                                        <li>
                                            CARDS <br>
                                            Credit/debit card deposits maybe refunded to the same credit/debit card that a withdrawal is executed. A withdrawal to a bank account where initial deposits have been performed by debit or credit cards or e-wallet will be executed.
                                        </li>
                                        <li>
                                            WIRE TRANSFERS <br>
                                            When depositing funds via bank transfers, you must use your personal bank account with a bank established within the country of your permanent residence with is a requirement by anti-money laundering laws (Money Laundering {Prohibition} Act 2011). A bank confirmation (or SWIFT) indicating the origin of the funds must be sent to us by your bank. If such transfer confirmation is not sent, the funds will not be deposited in your bank account. Thus, any withdrawals of funds from your account can only be refunded to the same bank account that the funds were originally received from.
                                        </li>
                                        <li>
                                            E-WALLET PAYMENT METHODS  <br>
                                            Where you decide to deposit funds via e-wallets, you are bound by the rules and regulations of our service provider. You could also be liable to further charges and other restrictions. Please read the terms and conditions of your service provider for further information. We will credit your account with the net amount we receive. Also note that we may have to execute withdrawals via a facility other than the provider you used for the original deposit, if required for legal and regulatory purposes (Anti Money Laundering rules)
                                        </li>

                                    </ul>

                                  
                                    <h4>MARKETING AND PROMOTIONS</h4>
                                    <ul class="list list-sm">
                                        <li>We may run certain seasonal promotions related to our products from time to time. Each promotion is subject to its own unique terms and conditions that you will required to read before you participate. You are not obligated to participate in such promotions if you do not agree to its terms. </li>
                                    </ul>
                                    
                                    <h4>TERMINATION</h4>
                                    <ul class="list list-sm">
                                        <li>Where you wish to close your account with us, you will give us a notice in writing within one calendar month of your intention and if we wish to close your account, we will notify you in writing giving reasonable notice unless there are sufficient grounds where we must terminate our contractual relationship with you earlier or immediately without notice. Grounds for early termination of our contract include but is not limited to: <br> 
                                        <ul class="list list-sm">
                                            <li>Breach of any clause in this terms and conditions of service </li>
                                            <li>Fraudulent activities </li>
                                            <li>
                                                Misrepresenting of information
                                            </li>
                                            <li>Act of bad faith </li>
                                            <li>Tampering with our systems, software and platforms. </li>
                                            <li>Acts that put our business and integrity in question or jeopardy</li>
                                            <li>Default in payment </li>
                                            <li>Bankruptcy, receivership or insolvency of either party</li>
                                            <li>Law restriction imposed on us </li>
                                            <li>Any other reason we may consider appropriate and necessary</li>
                                            <li>Unauthorized activity</li>
                                        </ul>
                                        </li>
                                        <li>UNAUTHORIZED ACTIVITY <br>
                                            It is not permitted to use our services for an activity that is not authorized. In using our service, you agree and acknowledge that you will not use our products and services for any Unauthorized Activity. Unauthorized activity means any act which includes but not limited to:
                                        <ul class="list list-sm">
                                            <li>Money Laundering</li>
                                            <li>Arbitrage</li>
                                            <li>Use of unsuitable documentation</li>
                                            <li>Fraud/ cyber-crime. </li>
                                        </ul>
                                        <p><strong>The consequences of breaching one or more of the conditions, deemed as 'unauthorized activities', could mean the return of funds, and/or the suspension or closure of your account. Where this activity is discovered, the Company reserves the right to close the affected accounts and all related open trading and investment positions</strong></p>
                                        </li>
                                        <li>MULTIPLE ACCOUNT OPERATION <br>
                                            You cannot operate more than one account on our mobile application. As the Know Your Customer (KYC) restricts users from operating multiple accounts. You cannot trade using the accounts of others or allow others to trade using their account. Evidence of this activity includes: 
                                            <ul class="list list-sm">
                                                <li>Accounts operating from the same location</li>
                                                <li>Using or indicating the same IP address</li>
                                                <li>Multiple accounts displaying the same deposit and withdrawal patterns, or  </li>
                                                <li>Accounts showing similar or identical trading or investment patterns. </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                    <h4>LEGAL ACTION</h4>
                                    <p>We reserve the right to take legal action against you in circumstances where the terms and conditions of this agreement has been breached. In event of such breach or legal dispute, the Federal High Court of Nigeria shave have jurisdiction to adjudicate thereon. You agree that these terms and conditions will be governed by and interpreted in accordance with the Laws of the Federal Republic of Nigeria. </p>
                                    <h4>INTELLECTUAL PROPERTY</h4>
                                    <p>All intellectual property of our company, mobile application, products and services belongs to us. We only allow you access and use of our mobile application, products and services for our various investments plans. Intellectual property means all copyright, patents, patent application, trademark, trade names, branding, software, processes, source code, website, databases, know-how, trade secrets, licenses, designs, inventions, promotions and marketing material in any sort of form. We retain all rights, title and interests in all our intellectual property rights arising out of this agreement. </p>
                                    <h4>DATA PROCESSING, PRIVACY POLICY AND COOKIES </h4>
                                    <ul class="list list-sm">
                                        <li>All information provided by you is treated as confidential as we take all measures not to lose the trust you have in us. Your personal data that we require throughout our cooperation is safely stored in our electronic systems. It is treated as confidential and protected by data protection laws. It is our policy not to disclose user/client information to non-affiliated third parties except with your consent or where it is required for Legal or regulatory purposes.</li>
                                        <li>Notwithstanding the above clause, there are instances where information cannot be considered confidential. Such as: <br> 
                                        <ul class="list list-sm">
                                            <li>Where readily available to the public, through no act or omission of the recipient or of any third party owing an obligation of confidence to the receiver.</li>
                                            <li>Where rightly received from a third party without restrictions as to its use or disclosure.</li>
                                            <li>Where required to be disclosed by a court of law or regulatory authority.</li>
                                        </ul>
                                        </li>
                                        <li>Cookies - Cookies are small text files that are sent to and stored on your device such as desktop, laptop, smartphone and tablet for accessing the Internet when you visit a website or a webpage. Cookies allow a website to recognize a user's device. The objective of cookies use is to improve and make the user's experience easier.</li>
                                        <li>By entering into this Agreement, you acknowledge that you have read and understood our Company’s privacy policy. Please read our Privacy Policy here.</li>
                                    </ul>
                                    <h4>CHANGES TO THIS AGREEMENT  </h4>
                                    <p>We may, at our discretion, change any or all of the terms of this Agreement, at any time and without prior notice. If you make any transaction on or after the amendments to this Agreement have come into effect, you will be deemed to have accepted the changes.  </p>
                                    <h4>HOW TO MAKE A COMPLAINT </h4>
                                    <p> If you have a complaint, please communicate it to us via email. Please visit our website <a target="_blank" href="https:www.pipminds.com">www.pipminds.com</a> for more details. </p>
                                    <h4>FORCE MAJEURE (UNFORESEEN EVENTS) </h4>
                                    <p> We will not be liable for any failure in performance of the terms of this Agreement if such failure is caused by certain unforeseeable events, including but not limited to acts of God, war, governmental decree, natural disasters, power failure, failure in communication lines or other network failure, judgment or legal order, strike or other circumstances beyond our reasonable control. </p>
                                    <h4>CALL RECORDING </h4>
                                    <p> Please note that our calls are recorded so as to safeguard and protect your interests and for us to ensure the quality of our services. We may, but we are not obligated to retain any communication with you.</p>
                                    <h4>GOVERNING LAW </h4>
                                    <p>It is within our intentions to resolve any matter of concern or dispute with you in an amicable manner. Any dispute, miscommunication will be initially addressed to your personal client manager who will attempt to resolve it directly with you and where such dispute cannot be mutually resolved, it will be referred to an arbitrator that will be appointed by both parties (us and you) in writing and in accordance with the Provisions of the Arbitration and Conciliation Act, CAP 19 Laws of the Federation of Nigeria 1990. If we still cannot resolve the dispute with you, the dispute will be resolved before the Federal High Court of Nigeria under the Laws of the Federal Republic of Nigeria. </p>
                                </div>
                            </div><!-- .card-inner -->
                        </div><!-- .card -->
                    </div><!-- .nk-block -->
                </div><!-- .content-page -->
            </div>
        </div>
    </div>
</div>



  <!-- footer @s -->
  <div class="nk-footer nk-footer-fluid bg-lighter text-center">
    <div class="container-xl wide-lg">
        <div class="nk-footer-wrap ">
            <div class="nk-footer-copyright"> &copy; <script>document.write(new Date().getFullYear());</script> Pipminds International. All Rights Reserved.
            </div>
        </div>
    </div>
</div>
<!-- footer @e -->
</div>
<!-- wrap @e -->
</div>
<!-- app-root @e -->
<!-- JavaScript -->
<script src="{% static 'assets/js/bundle.js' %}?ver=2.0.0"></script>
<script src="{% static 'assets/js/scripts.js' %}?ver=2.2.0"></script>
<script src="{% static 'assets/js/charts/chart-invest.js' %}?ver=2.0.0"></script>
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ebab7a8967ae56c521916ca/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
</script>
</body>

</html>
