{% load static %}
{% load humanize %}
{% load mathfilters %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CIP Contract</title>

<style type="text/css">

@page {
            size: A4;
            margin: 1cm;
        }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { margin-bottom: 0.5rem; font-family: Nunito, sans-serif; font-weight: 700; line-height: 1.1; color: #364a63; }


h1, .h1 { font-size: 2rem; }

h2, .h2 { font-size: 1.75rem; }

h3, .h3 { font-size: 1.5rem; }

h4, .h4 { font-size: 1.25rem; }

h5, .h5 { font-size: 1.15rem; }

h6, .h6 { font-size: 1rem; }

hr { margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid #b7c2d0; }


.list-unstyled { padding-left: 0; list-style: none; }

.list-inline { padding-left: 0; list-style: none; }

.list-inline-item { display: inline-block; }


img { vertical-align: middle; border-style: none; }

.list-inline li { display: inline-block; }


.list-sm li { padding-left: 1.2rem; }


.list-sm li:before { font-size: 12px; }

.form-group { margin-bottom: 1rem; }

.form-group { position: relative; margin-bottom: 1.25rem; }

.form-group:last-child { margin-bottom: 0; }



</style>

</head>
<body>
    
    <div  id="contract_body">
        <h6 style="text-align: center;">CIP CONTRACT AGREEMENT <br/> BETWEEN <br/> PIPMINDS INTERNATIONAL LIMITED <br/> AND <br/>
            {{request.user.profile.first_name|upper}} {{request.user.profile.last_name|upper}} </h6>
        <p>
            <img src="https://imaginariumng.com/email_images/michael/asugo1.png" width="100px" height="auto" alt=""> <img src="https://imaginariumng.com/email_images/michael/asugo2.png" width="100px" height="auto"  alt=""> <br> <br>
            PREPARED BY: <br/>
            A.C ALAGOR ESQ. <br> For: PIPMINDS INTERNATIONAL LIMITED <br> 133 ATIKU ABUBAKAR WAY, UYO
            AKWA IBOM STATE, NIGERIA.
        </p>

        <p> <strong>CONTRACT OF AGREEMENT</strong></p>

        <b>THIS AGREEMENT</b> is made this day {{today}}

        BETWEEN

        <b>PIPMINDS INTERNATIONAL LIMITED</b> of no. 133 Atiku Abubakar Road, Uyo, Akwa Ibom State of Nigeria (hereinafter referred to as <b>“The Forex Trader/Trader”</b>) which expression shall where the context so admits include its successor-in-title, executors, personal representatives and assigns of the <b>ONE PART</b>. <br/>
        
        <b>AND</b> <br/> 

        <b>MR./MRS./MISS  {{first_name}} {{last_name}} </b>
        Of {{address_1}} {{address_2}} {{city}} {{state}} State (hereinafter referred to as the "Financial Investor") which expression shall where the context so admits includes his successor-in-title, executors, personal representatives and assigns of the OTHER PART. <br>
        
        <b>WHEREAS:</b>

        <ul  class="list list-sm">
          <li>The Trader Private Limited Liability Company, incorporated under the Companies and Allied Matters (CAMA) Act 2020 and carries on the Business of online Forex Trading, foreign exchange, Forex Education, Real Estate, Promotion of Child Education Globally and offering Investment Opportunities to Clients.</li>
          <li>The Financial Investor is a Client who is desirous of investing in the Trader’s <b>CORPORATE INVESTMENT POOL (CIP)</b> Plan and has negotiated with the Trader on investing the necessary capital.</li>
          <li>Both the Trader and the Financial Investor ("The Parties") are desirous of going into a business relationship upon the receipt of payment of an agreed sum, aimed at realizing and maximizing the full benefits and investment opportunities offered by the Trader.</li>
          <li>The parties have agreed to do the business under the terms and conditions hereunder.</li>
        </ul>
         
        <b>IT IS AGREED BY THE PARTIES AS FOLLOWS:</b>
        <ul class="list list-sm">
            <li>The Financial Investor has paid the sum of <span style="color: black;" id="contract_amount"> {{amount}} </span> only as capital into the Forex Trading account for the Corporate Investment Pool Plan to be provided by the Forex Trader.</li>
            <li>It is agreed by the parties that each phase of the business transaction shall be for a period of <span style="color: black;" id="contract_period"> {{period}} </span> As the case may be, which entitles the Financial Investor to the accrued interest and upon the expiration of any selected period, the Financial Investor receives payment of his initial capital.</li>
            <li>Where the Financial Investor wishes to rollover his/her capital at the expiration of His/ Her selected plan as listed in clause two (2) he/she shall notify the <b>Forex trader</b> of his intention to rollover within 7 days of its expiration.</li>
            <li>The Forex Trader shall manage, trade and keep proper record of the Forex trading activities.</li>
            <li>The Financial Investor shall be entitled to an interest percentage of his/her investment capital as his/her investment profit otherwise known as <b>"Return on Investment" (ROI) </b>which shall be due for maturity every thirty (30) days subject to his/her desired plan as stipulated below: <br> <strong style="color: black;"> {{plan_name}} - {{plan_percentage}}% ROI monthly for an investment capital within N{{plan_min|floatformat:"0"|intcomma}} -N{{plan_max|floatformat:"0"|intcomma}} {% if plan_min == 300000 %} (The investment minimum of N300, 000.00 shall run only for the first quarter of 2021 and from the 1st day of April
                2021, the minimum investment capital shall be N500,000.00 only) {% endif %}</strong> 
                 </li>
            <li>In the case of any default in the payment of the accrued investment interest by the Trader after the stipulated 30 days, a grace period of seven (7) working days shall be given to the Trader to remedy the default, any further default after this shall attract a 5% interest penalty to be paid by the Trader to the Financial Investor.</li>
            <li>In the event of the Financial Investor desiring to increase his/her investment capital, he/she shall notify the Trader in writing or by Electronic Mail of such increase which shall be acknowledged and be reflected on his/her already existing Investment on the Forex financial follow up chart. Any payment in respect of the above shall be made by the Trader into the already existing bank account as furnished by the Financier Investor.Such increment may be made within seven (7) days of the initial investment for the month and it shall form part of the month’s investment. Increments made after seven (7) days shall be considered as investment for the subsequent month.</li>
            <li>The Financial Investor may appoint an Attorney through a power of attorney and shall submit a copy of the document to the trader for the purpose of liaising with the Trader during any period of his/her absence to give effect to any part of the agreement as the Financier Investor could have done himself/herself.</li>
            <li>In the event of any loss incurred during Forex trading, the Financial Investor shall not be responsible for any of such loss.</li>
            <li>The Trader shall not be liable for any claim or action brought by any third party against the Financial Investor.</li>
        </ul>
       <b>TERMINATION</b>
       <ul class="list list-sm">
           <li>Where the agreement is terminated before the expiration of the agreed six, nine or twelve months as the case may be, the Financial Investor shall no longer be entitled to the agreed percentage of his investment capital at the expiration of the thirty 30 days' notice.</li>
           <li>Where the Financial Investor intends to terminate the contract, the Trader shall be notified by the financial Investor through an official letter delivered by hand or by an email stating the investment details and purpose of termination which is subject to review by the management.
           </li>
    </ul>
       <b>UBERIMA FIDEI</b>
       <P> The Parties are to act in the utmost good faith as well as endeavor to be transparent and build a level of trust in each other. None of the parties shall do anything that will be inimical or against the interest of the other party or of the contract.</P>
       <b>BINDING FORCE</b>
       <p>This agreement shall be effective and enforceable upon execution by the parties or their authorized Representatives herein above mentioned until the following events occur:</p>
       <ul class="list list-sm" >
           <li>The execution and completion of the contract agreement</li>
           <li>At the expiration of <span style="color: black;" id="contract_binding"> {{period}} </span>.</li>
       </ul>
       <b>CONFIDENTIALITY</b>
       <p>Each party shall keep in strict confidence all financial, Commercial and technical information belonging to the other party or which was developed jointly by the parties in preparation of this agreement. Without the prior written consent of the other party, neither party shall at any time disclose any confidential information to any third party, save and except where it is required by a Court of Law. Confidential information shall not include information which:</p>
       <ul class="list list-sm">
           <li>Became public through no fault of the receiving party.</li>
           <li>Is received on a non-confidential basis from third parties</li>
           <li>Is independently developed by the parties with use of confidential
            information. Neither party shall expect as required by applicable laws, regulation or the rules of any recognized Foreign Exchange Market cause any public announcement to be made pursuant to any applicable law or regulation. Such party shall provide the other party 48 hours written notice of such announcement.</li>
       </ul>

       <b>AMENDMENTS / MODIFICATIONS</b>
       <p>
        No amendment or modification of the agreement shall be effective against the parties unless such amendments or modification is set forth in writing and signed by the parties.
       </p>

       <b>LANGUAGE</b>
       <p>
        All agreements, correspondence and other documents relevant to this agreement shall be in English language.
       </p>

       
       <p>
        <b>ALTERNATIVE DISPUTE RESOLUTION</b> <br/>
        Any dispute arising out of this agreement shall be resolved as follows:
        <ul class="list list-sm">
            <li>AMICABLE RESOLUTION:<br/>
                The parties recognize that differences sometimes arise in the course of a relationship and wish to avoid litigation. Accordingly, all claims, disputes and other matters in question between any party and the parties arising out of or relating to this agreement, shall first be submitted to negotiation in an attempt to resolve amicably by both parties.</li>
                <li>ARBITRATION:<br/>
                <ul class="list list-sm">
                    <li>Any dispute which is not resolved amicably through negotiation, shall be finally settled by Arbitration in accordance with the Provisions of the Arbitration and Conciliation Act CAP 19 Laws of the Federation of Nigeria 1990 and any award made by the Arbitrators shall be entered and enforced by the High Court of Justice where the agreement was entered into.</li>
                    <li>In the appointment of the Arbitrators, each party shall appoint one Arbitrator and the two shall appoint a third Arbitrator who shall be the Chairman of the panel.</li>
                    <li>Any award rendered pursuant to arbitration may include reasonable attorneys' fees and costs shall be final and binding upon the parties, and judgment may be entered upon it in the High Court of Justice where the agreement was entered into.</li>
                    <li>In the event of any party falling in its obligation to appoint an Arbitrator or fail to participate in the arbitration proceedings, the other party can resort to the High Court of Justice where the contract was entered into to ventilate its grievances.</li>
                    <li>In the event of resort to court action, the defaulting party shall, in addition to the claims of the party signing, be liable to pay the cost of the litigation incurred by the other party.</li>
                    <li>Pending final resolution of any dispute, including arbitration in accordance with this provision, the party shall proceed diligently with performance of its obligations to the extent it is unrelated to the dispute and the subject matter of the dispute does not inhibit the progress of the business operations generally. Such performance by party shall not operate to waive or stop either party from pursuing the claim which gave rise to the dispute.</li>
                </ul>
                </li>
             </ul>
       </p>

       <p>
        <b>APPLICABLE LAWS</b> <br/>
        The laws of the Federal Republic of Nigeria shall govern the interpretation and enforcement in this contract agreement.
       </p>
       <b>IN WITNESS WHERE OF THE PARTIES HERETO HAVE EXECUTED THIS MOU ON THE DAY AND YEAR FIRST ABOVE WRITTEN. <br> THE COMMON SEAL PIPMINDS INTERNATIONAL LIMITED is hereunto affixed in the presence of:</b> <br>

       <div class="row">
           <div class="col text-center">
            <img src="https://imaginariumng.com/email_images/michael/director2.png" width="100px" height="auto" alt="">
            <hr>
            <b>DIRECTOR</b>
           </div>
           <div class="col text-center">
            <img src="https://imaginariumng.com/email_images/michael/director1.png" width="100px" height="auto" alt="">
            <hr>
            <b>DIRECTOR</b>
           </div>
          
       </div>
       
        
        <div class="form-group">
            <div class="custom-control custom-control-xs custom-checkbox">
                <input name="t_and_c" type="checkbox" class="custom-control-input t_and_c" id="checkbox">
                <label class="custom-control-label" for="checkbox">I have read and I agree to the this agreement </label>
            </div>
        </div>
    </div>



</body>
</html>